@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义字体 - 站点标题 */
@font-face {
  font-family: 'AerialFaster';
  src: url('../fonts/AerialFasterRegular.woff2') format('woff2'),
       url('../fonts/AerialFasterRegular.woff') format('woff'),
       url('../fonts/AerialFasterRegular-Yqd5o.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
